<?xml version="1.0" encoding="UTF-8"?> 
<Installer>   
    <Name>Program List OCR</Name>   
    <Version>1.5.1</Version>  
    <Title>Program List OCR</Title>   
    <Publisher>eighttails</Publisher>   
    <StartMenuDir>Program List OCR</StartMenuDir>   
    <TargetDir>@ApplicationsDir@/@ProductName@</TargetDir>   
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters> 
    <MaintenanceToolName>Uninstaller</MaintenanceToolName>
</Installer> 
