# Make use of the fact that Chinese is monospaced, and incorporate that
# into character segmentation cost for search, and inject this cost to
# word rating.
classify_integer_matcher_multiplier 10
#classify_class_pruner_multiplier    15
assume_fixed_pitch_char_segment     T
chop_enable                         F
segment_nonalphabetic_script        1
allow_blob_division                 F

# Force use of a single x-height mode when the text is written horizontally.
# This information could come from the unicharset (script_has_xheight), but
# it is better in the config file so as to be available when training.
textord_single_height_mode        T

# Use character height as x-height, and estimate it from character pitch and
# kerning width.
textord_use_cjk_fp_model T


# Fix https://github.com/tesseract-ocr/tesseract/issues/991
preserve_interword_spaces 1

